:root {
  --primary: #e94a4a;
  --primary-text: #b4faaa;
  --secondary: #ff3b3b;
  --secondary-text: #26cf31;
  --accent: #000000e1;
  --accent-text: #e8f15f;
  --new-text: #58f12a;
  --buttonz: #18a5c9;
  --buttonshadow: #fc5e52;
}
